{% extends 'base.html' %}

{% load static %}
{% block subtitle %} Welcome to My Space {% endblock %}
{% block content %}
<header class="showcase">
    <div class="container showcase-inner">
        <img src="{% static 'img/Toogii_Pics.jpeg' %}" class="my-photo">
        <h1>Welcome</h1>
        <p>I am Toogii. I am a Network Engineer passionate to code, develope and automate.
            You can check out my personal projects from the Portfolio menu.
        </p>
        <a href="https://www.linkedin.com/in/toogii-dashdavaa-37851442" class="btn" href="">LINKEDIN</a>
    </div>
</header>
{% endblock %}
